@media screen and (max-width: 1278px){
    .about .about-description{
        max-width: 100%;
        /* height: 30vh; */
        display: flex;
        /* padding-right: 3rem; */
        /* background: purple; */
        flex-direction: column;
        /* padding-bottom: 3rem; */
    }
    .about .person-reveal{
        display: none;
    }
    .about .about-description .social-media{
        margin-top: 3rem;
        /* background: brown; */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 0%;
        width: 100%;
    }
    .projects .project-items{
        width: 100%;
        /* min-height: 100vh; */
        /* background: darkgreen; */
        display: grid;
        padding: 0 clamp(3px, 4vw, 50px);
        grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
        grid-template-rows: repeat(2, minmax(30vw, 1fr));
        /* grid-auto-rows: 30em; */
    }
}