@import "breakpoints.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    /* cursor: none; */
}
/* ::-webkit-scrollbar {
    width: 8px;
    background: #010203;
}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    border-radius: 10px;;
    background: rgba(214, 213, 213, 0.5);
} */

body{
    /* height: 200vh; */
    height: 100vh;
    position: relative;
    background: #010203;
    max-width: 100%;
    /* overflow: hidden; */
}

.num-load {
    /* font-weight: 500; */
    color: white;
    height: 30px;
    width: 5rem;
}
.transition1 .location{
    position: absolute;
    top: 3%;
    right: 3%;
    width: 13rem;
    word-break: break-word;
    letter-spacing: 1px;
    text-align: right;
    /* font-family: Poppins, 'Plus Jakarta Sans', sans-serif; */
    font-family: JakartaPlusLight;
    font-size: 1.3rem;
    /* font-weight: 300; */
    font-weight: 300;
    color: white;
}
.transition1 .loading-prg{
    position: absolute;
    bottom: 3%;
    left: 3%;
    /* font-family: Poppins, 'Plus Jakarta Sans', sans-serif; */
    font-family: JakartaPlusLight;
    font-size: 1.5rem;
    color: white;
    width: 130px;
    height: 30px;
}
.loading-prg .scrollText{
    position: relative;
    overflow: hidden;
    height: 1.3em;
    line-height: 1.3em;
}
.scrolltextComplete-Load{
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1s cubic-bezier(0.08,0.82,0.17,1);
}
.transition1 .abs-container{
    position: absolute;
    top: 3%;
    left: 3%;
    /* font-family: Poppins, 'Plus Jakarta Sans', sans-serif; */
    font-family: JakartaPlusLight;
    font-size: 1.5rem;
    /* font-weight: 300; */
    font-weight: 300;
    color: white;
}
.transition1 .load-percentage{
    position: absolute;
    bottom: 3%;
    right: 3%;
    /* font-family: Poppins, 'Plus Jakarta Sans', sans-serif; */
    font-family: JakartaPlusLight;
    font-size: 1.5rem;
    color: white;
}
.scrolltextComplete{
    position: absolute;
    top: 0;
    right: 0;
}

.line-progress{
    background: white;
	position: fixed;
	z-index: 1501;
	top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(0%);
    width: 100%;
    height: 2px;
    transform-origin: center;
    /* transform: scaleX(10%); */
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    transition: transform 1s cubic-bezier(0.22,0.61,0.36,1);
}
.transition1{
    position: fixed;
    top: 0;left: 0;right: 0;
    bottom: 0;
    /* display: flex; */
    z-index: 1500;
    display: flex;
    align-items: center;
    justify-content: center;

    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

    /* background: #bfff00; */
    background: crimson;
    font-size: 5rem;
    font-family: JakartaPlusExtraLight;
}

.container-blocks{
    padding-right: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1600;
    display: flex;
    align-items: flex-end;
    transition: transform 500ms ease;
}
.container-blocks .loading-text{
    font-size: 3rem;
    line-height: 40px;
    color: #0a0a0a;
    color: #fff;
    overflow: hidden;
    height: 1.2em;
    width: 300px;
    /* background: green; */
    transform: scale(2);
    line-height: 1.2em;
    position: relative;
    /* color: red; */
    font-family: 'Poppins', Plus Jakarta Sans, sans-serif;
    font-weight: 500;
}
.container-blocks .loading-text::before{
    content: '';
    position: absolute;
    height: 20px;
    /* background: linear-gradient(180deg, rgba(191,255,0,1) 0%, rgba(107,20,220,0) 22%); */
    background: linear-gradient(180deg, crimson 0%, rgba(107,20,220,0) 22%);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.container-blocks .loading-text::after{
    content: '';
    position: absolute;
    height: 20px;
    /* background: linear-gradient(0deg, rgba(191,255,0,1) 0%, rgba(107,20,220,0) 22%); */
    background: linear-gradient(0deg, crimson 0%, rgba(107,20,220,0) 22%);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.container-blocks .loading-text span{
    text-align: center;
    width: 100%;
    animation: slide 8.5s cubic-bezier(0.17,0.84,0.44,1) infinite;
    position: absolute;
    top: 0;
}
@keyframes slide {
    0% {
      top: 0;
    }
    15% {
      top: -1.2em;
    }
    25% {
      top: -2.4em;
    }
    35% {
      top: -3.6em;
    }
    45% {
        top: -4.8em;
    }
    55% {
        top: -6.0em;
    }
    65% {
        top: -7.2em;
    }
    75% {
        top: -8.4em;
    }
    85% {
        top: -9.6em;
    }
    95%{
        top: -10.8em;
    }
    100% {
        top: -10.8em;
    }

  }
.container-blocks .dots{
    position: relative;
    width: 7px;
    height: 7px;
    display:block;
    border-radius: 50%;
    background: #0a0a0a;
    margin-right: 5px;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    animation: blink 2s ease-in-out infinite;
}
.transition-circle-full{
    position: absolute;
    top: 0;left: 0;right: 0;
    bottom: 0;
    background: #0a0a0a;
    z-index: 50;
    clip-path: circle(0%);
}
  @keyframes blink {
    0%{
      opacity: 0;
    }
    10%{
        opacity: 1;
    }
    60%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }
  .container-blocks .dots1{
    position: relative;
    width: 7px;
    height: 7px;
    display: block;
    border-radius: 50%;
    background: #0a0a0a;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    animation: blink1 2s ease-in-out infinite;
  }
  @keyframes blink1 {
    0%{
      opacity: 0
    }
    20%{
      opacity: 1;
    }
    60%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }
  .container-blocks .dots2{
    /* position: relative; */
    width: 7px;
    height: 7px;
    display: block;
    border-radius: 50%;
    background: #0a0a0a;
    margin-left: 5px;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    animation: blink2 2s ease-in-out infinite;
  }
  @keyframes blink2 {
    0%{
      opacity: 0
    }
    30%{
      opacity: 1;
    }
    60%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }
.container-blocks .block-1{
    width: 100%;
    height: 100%;
    background: #0a0a0a;
    position: absolute;
    animation: preload 2s infinite cubic-bezier(0.77,0,0.18,1);
}
.block-white{
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    width: 42px;
    height: 10px;
    background: whitesmoke
}
@keyframes preload {
    0%{
        width: 50%;
    }
    30%{
        width: 100%;
    }
    50%{
        transform: translateX(50%);
    }
    70%{
        transform: translateX(0%);
    }
    100%{
        width: 50%;
    }
}
/* .main-container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
} */

nav {
    color: white;
    left: 0;
    right: 0;
    z-index: 70;
    position: fixed;
    min-height: 7vh;
    mix-blend-mode: difference;
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem 0 3rem;
}
nav .logo p{
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;

    /* font-size: 1.25rem; */
    font-size: 2.5vmin;
    position: relative;
    letter-spacing:1.3px;
}

ul {
    display:flex;
    align-items: center;
}
ul li {
    margin: 5px 10px 0 10px;
}
.colorGSAP{
    color: crimson;
}
ul li a {
    position: relative;
    padding: 0 5px 1px 0;
    font-size: 2vmin;
    /* background: red; */
    font-weight: 300;
    font-family: 'JakartaPlusLight', sans-serif;
}
ul li a::before{
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background: white;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms cubic-bezier(0.08,0.82,0.17,1);
}
ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}
img {
    display: block;
}

.headlinesText{
    font-size: clamp(20px, 5vw, 8rem);
    width: max-content;
    /* line-height: 100%; */
    display: flex;
    overflow: hidden;
    font-weight: 600;
    margin-bottom: 10px;
    height: clamp(30px, 7vw, 120px);
    font-family: 'HelveticaNowDisplay-Bold', sans-serif;
    color: white;
    /* font-family: 'Plus Jakarta Sans', sans-serif; */
    position: relative;
    /* margin-bottom: 20px; */
}
.tx-center{
    text-align: center;
}
.descriptionText {
    font-size: clamp(10px,2vw,1.5em);
    margin-top: 10px;
    /* font-family: "Plus Jakarta Sans", sans-serif; */
    font-family: 'HelveticaNowDisplay-Regular', sans-serif;
    letter-spacing: 1.1px;
    color: white;
    line-height: 1.3em;
    font-weight: 400;
}


.anchor{
    position: relative;
    color: white;
    text-decoration: underline;
    font-family: 'HelveticaNowDisplay-Regular', sans-serif;
}

.cursor-follower{
    position: fixed;
    background-color: white;
    mix-blend-mode: difference;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    z-index: 100;
    transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: scale(1);
}
.cursor-follower2 {
    position: fixed;
    border: 1px solid white;
    mix-blend-mode: difference;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    border-radius: 100%;
    z-index: 1;
    transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.5s cubic-bezier(0.75, -0.27, 0.3, 1.33) background-color, 300ms cubic-bezier(0.19,1,0.22,1) transform;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    
    transform: scale(2);
}

/* Hover active */

.bigger{
    transform: scale(2);
}

.opacity-none{
    opacity: 0;
}
.opacity-full{
    opacity: .7;
}
.border-none{
    /* background-color: white; */
    border: 0px solid transparent;
}
.fill-on{
    background-color: white;
}

.slide-blank{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 102;
    background: #010203;
}
.main-page{
    max-width: 100%;
    height: 100vh;
    padding: 0 10% 0 10%;
    position: relative;
    background: #010203;
    display: flex;
    align-items: center;
    /* padding-left: 5%; */
}
.main-page .hero-section{
    width: 100%;
    /* padding-left: 5%; */
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background: green; */
}
.main-page .hero-section .welcome-text{
    font-size: 8em;
    /* color: #010203; */
    line-height:120%;
    /* font-family: '', serif; */
    font-family: 'Plus Jakarta Sans', sans-serif;
    position: relative;
    overflow: hidden;
}

.main-page .hero-section .welcome-text .serif{
    display: flex;
    /* overflow: hidden; */
    position: relative;
    margin-left: 10px;
    font-family: 'NewYorkSerif', serif;
    padding-top: 7.5px;
    /* font-style: bold; */
    height: 140px;
    /* color: black; */
    mix-blend-mode: difference;
    /* color: white; */
    transition: all .5s ease-out;
    /* font-style: italic; */
}
.reveal-text-ramz{
    color: crimson;
    /* color: #0a0a0a; */
}
.main-page .hero-section .headlines .bla{
    position: relative;
    width: max-content;
}
/* .content__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
} */
.main-page .hero-section .headlines .serif .image-cursor{
    position: absolute;
    top: 0;
    left: 0;
    /* width: 300px; */
    transform: rotate(-10deg);
    opacity: 0;
    /* display: none; */
    transition: opacity 500ms cubic-bezier(0.23,1,0.32,1);
    /* background: yellow; */
    /* animation: spin 2s infinite ease-in-out; */
    /* z-index: 20; */
}
.main-page .hero-section .headlines .serif .image-cursor .image-spin{
    width: 200px;
    /* opacity: 0; */
    transition: opacity 500ms cubic-bezier(0.23,1,0.32,1);
}
.lines-ramz{
    position: absolute;
    bottom: 0;
    left: 5px;
    width: 100%;
    height: 3px;
    background: crimson;
}
.main-page .fade-gradient{
    /* max-width: 100%; */
    height: 0vh;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #010203;
    background: linear-gradient(11deg, rgba(1,2,3,1) 36%, rgba(1,2,3,0) 68%);
    z-index: 50;
}

.about{
    position: relative;
    max-width: 100%;
    /* height: 100vh; */
    color: white;
    /* background: green; */
    /* align-items: center;
    justify-content: center; */
    padding-top: 10%;
    padding-left: clamp(3px, 4vw, 50px);
    padding-right: clamp(3px, 4vw, 50px);
    display: flex;
    justify-content:  space-between;
    padding-bottom: 10%;
}
.about .about-description{
    max-width: 50%;
    /* height: 30vh; */
    display: flex;
    /* padding-right: 3rem; */
    /* background: purple; */
    flex-direction: column;
}

.about .about-description .text-about .bounce{
    /* transition: all 400ms ease; */
    display: block;
}

.about .about-description .text-about .reveal-text{
    display: block;
}
.about .about-description .text-about .lines{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background: crimson;
    width: 100%;
}


.about .about-description .about-desc{
    position: relative;
    overflow: hidden;
}
.about .about-description .about-desc .blank-slide{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: crimson;

}

.about .about-description .social-media{
    margin-top: 3rem;
    /* background: brown; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 20vh;
    width: 100%;
}
.about .about-description .social-media .soc-links{
    font-size: clamp(16px, 4vw,2.6rem);
    position: relative;
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    width: max-content;
    /* font-weight: 600; */
}
.about .about-description .social-media .soc-links::before{
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background: crimson;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms cubic-bezier(0.08,0.82,0.17,1);
}
.about .about-description .social-media .soc-links:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}
.about .about-description .social-media .soc-links a{
    display: block;
    width: max-content;
    color: white;
}
.about .about-description .social-media .soc-links .soc-links-arrow{
    width: 2.6rem;
    transform: rotate(90deg);
    transition: transform 500ms cubic-bezier(0.08,0.82,0.17,1);
    margin-left: 10px;
}
.about .about-description .social-media .soc-links:hover .soc-links-arrow{
    transform: rotate(45deg);
}
.about .person-reveal{
    position: relative;
    width: clamp(100px, 30vw, 40em);
    height: 80vh;
    /* background: aqua; */
    /* overflow: hidden; */
}

/* .about .person-reveal .arrow2{
    position: absolute;
    right: 20px;
    top: 10%;
    width: 3rem;
    transform: rotate(-140deg);
    mix-blend-mode: difference;
} */
.about .person-reveal .person-reveal2 .person{
    width: 100%;
    height: 100%;
    background-image: url(../photos/IMG_20220528_122515.jpg);
    background-size: cover;
    background-position: 40% 100%; 
    
}
.about .person-reveal .blank-slide-person{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* width: 100%; */
    background: crimson;
}
.about .person-reveal .skadi{
    position: absolute;
    top: 20%;
    left: 10px;
    width: 100px;
}

.chars{
    width: max-content;
}
.projects{
    max-width: 100%;
    /* height: 100vh; */
    /* background: darkred; */
    /* padding: 2em 0 0 0; */

    /* justify-content: space-between; */
}
.projects .project-items{
    width: 100%;
    /* min-height: 100vh; */
    /* background: darkgreen; */
    display: grid;
    padding: 0 clamp(3px, 4vw, 50px);
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
    grid-template-rows: repeat(2, minmax(30vw, 1fr));
    /* grid-auto-rows: 30em; */
}
.projects .project-items .grid-item{
    overflow: hidden;
    position: relative;
}
.projects .project-items .grid-item .grid-name{
    font-size: clamp(10px,3vw,4em);
    font-family: 'HelveticaNowDisplay-Bold', sans-serif;
    letter-spacing: 1.1px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    transition: all 500ms cubic-bezier(0.08,0.82,0.17,1);
    transform: translateY(-15px);
    opacity: 0;
}
.projects .project-items .grid-item:hover .grid-name{
    transform: translateY(0px);
    opacity: 1;
}
.projects .project-items .grid-item .grid-items{
    overflow: hidden;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: 1s cubic-bezier(0.08,0.82,0.17,1);
    width: 100%;
    height: 100%;
}
.projects .project-items .grid-item:hover .grid-items{
    overflow: hidden;
    position: relative;
    clip-path: polygon(6% 6%, 94% 6%, 94% 94%, 6% 94%);
}

.projects .project-items .grid-item:hover .grid-items .circ-projects{
    transform: scale(1);
}
.projects .project-items .grid-item:hover .grid-items .name-projects{
    opacity: 1;
}
.projects .project-items .grid-item .grid-items .name-projects{
    position: absolute;
    inset: 0;
    background: rgba(10, 10, 10, 0.603);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 500ms cubic-bezier(0.08,0.82,0.17,1);
}
.pr-nameOfProject{
    font-size: clamp(20px, 3vw, 3rem);
    color: white;
    font-family: 'HelveticaNowDisplay-Bold', sans-serif;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.circ-projects{
    width: clamp(80px, 10vw, 200px);
    height: clamp(80px, 10vw, 200px);
    border-radius:50%;
    background: crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    color: white;
    font-family: 'JakartaPlusLight', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    transform: scale(0);
    transition: 500ms cubic-bezier(0.08,0.82,0.17,1);
    text-transform: uppercase;
}
.circ-projects .text-view{
    font-size: clamp(10px, 1vw, 20px);
    position: relative;
}
.circ-projects .text-view:nth-child(2)::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: white;
    transform: scaleX(0);
    transform-origin:right;
    transition: transform 300ms cubic-bezier(0.08,0.82,0.17,1);
}
.circ-projects .text-view:nth-child(1)::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: white;
    transform: scaleX(0);
    transform-origin:right;
    transition: transform 300ms cubic-bezier(0.08,0.82,0.17,1);
}
.circ-projects .text-view:nth-child(1)::before{
    transition-delay: 0ms;
}
.circ-projects .text-view:nth-child(2)::before{
    transition-delay: 200ms;
}
.circ-projects:hover .text-view::before{
    transform: scaleX(1);
    transform-origin: left;
}

.projects .project-items .grid-item .grid-items .grid-inner{
    width: 100%;
    height: 100%;
    background: url(../photos/img-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.projects .project-items .grid-item:nth-child(2) .grid-items .grid-inner{
    background: url(../photos/img-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.projects .project-items .grid-item:nth-child(3) .grid-items .grid-inner{
    background: url(../photos/img-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.projects .project-items .grid-item:nth-child(4) .grid-items .grid-inner{
    background: url(../photos/img-4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.projects .project-items .grid-item:nth-child(5) .grid-items .grid-inner{
    background: url(../photos/img-5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.projects .project-items .grid-item:nth-child(6) .grid-items .grid-inner{
    background: url(../photos/img-6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.projects .project-items .grid-item:nth-child(7) .grid-items .grid-inner{
    background: url(../photos/img-7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.projects .project-items .grid-item:nth-child(8) .grid-inner{
    background: url(../photos/img-8.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.project-desc{
    position: relative;
    width: 100%;
    padding-left: clamp(3px, 4vw, 50px);
    padding-right: clamp(3px, 4vw, 50px);
    /* height: 100%; */
    /* margin-left: 30px; */
    display: flex;
    justify-content:  space-between;
    align-items: center;
    /* padding-top: 4em; */
    /* align-items: center; */
    padding-bottom: 2rem;
    /* background: green; */
}
.project-desc .scroller-project{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.project-desc .scroller-project .text-name-projects-ct{
    position: relative;
    height: 1.2em;
    font-size: 3rem;
    line-height: 1.2em;
    overflow: hidden;
    width: 10em;
}
.project-desc .scroller-project .text-name-projects-ct .text-name-projects{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    /* bottom: 0; */
    color: white;
    /* transform: translateY(1.2em); */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* transition: 1s cubic-bezier(0.79,0.14,0.15,0.86); */
    font-family: 'HelveticaNowDisplay-Bold', sans-serif;
}
.animation-scroll{
    animation: scrollTextProjects 500ms cubic-bezier(0.19,1,0.22,1) forwards;
}
@keyframes scrollTextProjects {
    100%{
        transform: translateY(-1.2em);
    }
}
.project-desc .pr-desc{
    width: 20em;
}
.pr-count{
    position: absolute;
    top: 15px;
    right: -25px;
    /* font-family: "Vogue", serif; */
    font-family: 'HelveticaNowDisplay-Regular', sans-serif;
    font-size: 20px;
    /* font-style: italic; */
    color: white;
}
.pr-count .pr-available{
    position: absolute;
    right: -160px;
    top: -1px;
    background: white;
    color: #0a0a0a;
    width: max-content;
    padding: 1px 7px;
    border-radius: 5px;
    opacity: 0;
    transform: translateX(30px);
    transition: 1s cubic-bezier(0.23,1,0.32,1);
}
.pr-count:hover .pr-available{
    opacity: 1;
    transform: translateX(0px);
}
.pr-tag{
    position: absolute;
    bottom: 30px;
    left: 0;
    color: white;
    font-family: 'HelveticaNowDisplay-Regular', sans-serif;
}
.projects .roll-image-showcase{
    width:576px;
    height: 100%;
    /* height: 14vh; */
    margin-left: clamp(3px, 4vw, 30px);
    /* background: green; */
    /* border-top: 2px solid white; */
    /* border-right: 2px solid white; */
    /* padding: 15px 0 15px 0; */
    position: relative;
    overflow: hidden;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transition: 1s cubic-bezier(0.77,0,0.18,1);
}
.projects .roll-image-showcase .image-roller{
    animation: image-roll 80s linear infinite;
}
@keyframes image-roll {
    0%{
      transform: translateY(0);  
    }
    100%{
        transform: translateY(-83.64%);
    }
}
.projects .roll-image-showcase .image-roller img{
    margin-top: 30px;
}
.lines-title-project{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background: crimson;
    width: 100%;
}

.banner-project{
    max-width: 100%;
    height:60vh;
    overflow: hidden;
    /* background: crimson; */
    padding: clamp(3px, 4vw, 30px) clamp(3px, 4vw, 30px) 5rem clamp(3px, 4vw, 30px) ;
}
.banner-project .img-banner{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: maroon;
    position: relative;
}
.banner-project .img-banner .banner-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-image: url(../photos/banner-02.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0%;
}

.contacts{
    max-width: 100%;
    height: 100vh;
    /* background: maroon; */
    position: relative;
    padding-top: 5%;
    padding-right: clamp(3px, 4vw, 30px);
    padding-left: clamp(3px, 4vw, 30px);
    /* margin-top: 30%; */
    text-transform: uppercase;
}

.div-blank{
    max-width: 100%;
    height: clamp(20vh, 15vw, 100vh);
    background: green;
}
.title-contact{
    font-size: clamp(20px, 9vw, 15rem);
    font-family: 'HelveticaNowDisplay-ExtraBold', sans-serif;
    /* font-family: 'Noto Sans', sans-serif; */
    /* font-weight: 600; */
    color: white;
    line-height: 100%;
}
.subtitle-contact{
    font-size: clamp(10px, 2vw, 5rem);
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: white;
    font-weight: 500;
    padding-top: 1rem;
    letter-spacing: 2px;
}
.contact-info-ct{
    padding-top: 2rem;
}
.contact-info{
    font-size: clamp(10px, 2vw, 5rem);
    font-family: 'HelveticaNowDisplay-Regular', sans-serif;
    color: white;
    /* font-weight: 500; */
    letter-spacing: 2px;
    text-transform: lowercase;
}
.wave {
    transform: scale(1.5);
    animation-name: wave-animation;
    animation-duration: 2.5s;     
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;      
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) } 
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) } 
    100% { transform: rotate( 0.0deg) }
  }
/* .wave {
    transform: scale(1.5);
    animation-name: wave-animation;
    animation-duration: 2.5s;     
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;      
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) } 
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) } 
    100% { transform: rotate( 0.0deg) }
  }
  .blink {
    animation: blink-animation 200ms steps(2, start) infinite;
    -webkit-animation: blink-animation 200ms steps(2, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
.d-none{
    display: none;
}
.available-work{
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;

    align-items: center;
    padding-top: 2.5rem;
}
.available-work .availableWorkInner{
    position: relative;
    font-family: 'HelveticaNowDisplay-Regular', sans-serif;

    font-size: clamp(10px, 1vw, 1.3em);
    letter-spacing: 2px;
}
.available-work .availableWorkInner.downloadCV{
    padding-top: .5rem;
    font-size: clamp(10px, 1vw, 1.5em);
    display: flex;
    height: max-content;
    align-items: flex-end;
    cursor: pointer;
}
.available-work .availableWorkInner.downloadCV p{
    line-height: max-content;
    position: relative;

}
.available-work .availableWorkInner.downloadCV p::before{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: white;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 500ms cubic-bezier(0.08,0.82,0.17,1);
}
.available-work .availableWorkInner.downloadCV p:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}
.available-work .availableWorkInner.downloadCV lord-icon{
    width: clamp(10px, 2vw, 1.5em);
    height: clamp(10px, 2vw, 1.5em);
    margin-left: 3px;
}
.bannerContact{
    width: 100%;
    height: 40vh;
    position: relative;
    padding-top: 1.5rem;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bannerContact .line-contact{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: white;
}
.bannerContact .social-media-contact{
    font-size: clamp(10px, 3vw, 3em);
    text-transform: lowercase;
    letter-spacing: 1px;
    font-family: 'HelveticaNowDisplay-Regular', sans-serif;
    color:white;
}
.social-media-footer{
    max-width: 100%;

    padding: 20px 0 10px 0;

    display: flex;
    align-items: center;
    font-family: 'JakartaPlusLight', sans-serif;
    justify-content: space-between;
    font-size: clamp(10px, 1.5vw, 2em);
    color: white;
}

.social-media-footer ul li {
    position: relative;
}
.social-media-footer ul li a{
    color: white;
    font-size: clamp(10px, 1.5vw, 2em);
}
.social-media-footer ul li::before{
    content: " ";
    position: absolute;
    top: -3px;
    right: -10px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #05B714;
}
.social-media-footer ul li:nth-child(3):before{
    content: " ";
    position: absolute;
    top: -3px;
    right: -15px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #E81919;
} */