@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    min-height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;;
    background: hsl(233, 47%, 7%);
}
.attribution {
    position: absolute;
    bottom: 30px;
    color: white;
}
.grid-container {
    width: 60vw;
    min-height: 50vh;
    background: hsl(244, 38%, 16%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    overflow: hidden;
    grid-template-areas: "description image";
}
.grid-item {
    position: relative;
    /* background: purple; */
}
.description {
    grid-area: description;
    /* background: blue; */
    padding-left: 5em;
    padding-top: 4.5em;
    padding-right: 5.2em;
}
h1 {
    font-family: Inter;
    color: white;
    font-size: 2.4rem;;
}
.description p{
    padding-top: 2.5em;
    padding-right: 1.5em;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: Lexend Deca;
    line-height: 1.5rem;
}
.image {
    grid-area: image;
    background: url(image-header-desktop.jpg) no-repeat center center;
    background-size: cover;
    filter: contrast(150%);
    opacity: .8;
    /* filter: brightness(80%); */
}
.purple {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: brightness(60%);
    background: rgba(170, 92, 219, .5);
}
.description .flex-stats .child p {
    padding-top: 0;
    color: hsla(0, 0%, 100%, 0.6);
}
h2 {
    font-family: Inter;
    color: white;
}
.flex-stats {
    padding-top: 6em;
    display: flex;
    justify-content: space-between;
}
@media all and (max-width: 1890px){
    .grid-container {
        width: 30vw;
        min-height: 50vh;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 1fr;
        grid-template-areas: 
        "image"
        "description";
    }
    .description {
        grid-area: description;
        /* background: blue; */
        /* padding-left: 5em;
        padding-top: 2em; */
        /* padding-right: 5.2em; */
        padding: 1rem;
        text-align: center;
    }
    .description p{
        padding-top: 2.5em;
        /* padding-right: 1rem; */
        padding-right: 2rem;
        padding-left: 2rem;

        color: hsla(0, 0%, 100%, 0.75);
        font-family: Lexend Deca;
    }
    .flex-stats {
        padding-top: 3em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }
    .child {
        margin-top: 2.5rem;
        text-align: center;
    }
}
