@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;400&family=Rubik&family=Source+Sans+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');

* {
    margin: 0;padding: 0;text-decoration: none;list-style-type: none;box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 7px;
    background: #01031f;
}
::-webkit-scrollbar-thumb{
    border-radius: 0px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5);
    animation: gradient 5s ease infinite;
}
::-moz-scrollbar{
    width: 7px;
    background: #01031f;
}
::-moz-scrollbar-thumb{
    border-radius: 0px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5);
    animation: gradient 5s ease infinite;
}
::-moz-selection { background: crimson;}
::-webkit-selection { background: crimson;}
::selection { background: crimson;}
html {
    overflow-x: hidden;
}
html.hidden {
    overflow-y: hidden;
}
body {
    max-width: 100%;
    min-height: 100%;
    display: flex;
    overflow-x:hidden;
}
.wrap {
    border-right: 0.08em solid #fff;
    animation: border-blink 1s infinite;
}
@keyframes border-blink {
    0% {
        border-right: 0.08em solid #fff;
      }
    
      49% {
        border-right: 0.08em solid #fff;
      }
    
      50% {
        border-right: 0em solid #fff;
      }
    
      99% {
        border-right: 0em solid #fff;
      }
      100% {
        border-right: 0.08em solid #fff;
      }
}
.translate-box .translator {
    background: #01031f;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    min-width: 33px;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: -5px -5px 5px rgba(212,212,212,0), 5px 5px 5px rgba(0,0,0,.4);
    -webkit-box-shadow: -5px -5px 5px rgba(212,212,212,0), 5px 5px 5px rgba(0,0,0,.4);
    -moz-box-shadow: -5px -5px 5px rgba(212,212,212,.1), 5px 5px 5px rgba(0,0,0,.4);
}
.translate-box .translator:hover {
    box-shadow: -5px -5px 5px rgba(56, 38, 38, 0), 5px 5px 5px rgba(0,0,0,.4),inset -5px -5px 5px rgba(212,212,212,.1), inset 5px 5px 5px rgba(0,0,0,.4);
}
.translate-box .translator.active {
    box-shadow: -5px -5px 5px rgba(56, 38, 38, 0), 5px 5px 5px rgba(0,0,0,.4),inset -5px -5px 5px rgba(212,212,212,.1), inset 5px 5px 5px rgba(0,0,0,.4);
}
.translate-box .language {
    background: #01031f;
    margin-left: 10px;
    padding: 10px;
    border-radius: 50%;
    /* -webkit-box-shadow: -8px -7px 27px -17px rgb(212, 212, 212);
    -moz-box-shadow: -8px -7px 27px -17px rgba(212,212,212,1);
    box-shadow: -8px -7px 27px -17px rgba(212,212,212,1); */
    object-fit: cover;
    transition: box-shadow .3s ease-in-out;
}
.language:hover{
    box-shadow: -5px -5px 5px rgba(56, 38, 38, 0), 5px 5px 5px rgba(0,0,0,.4),inset -5px -5px 5px rgba(212,212,212,.1), inset 5px 5px 5px rgba(0,0,0,.4);
}
.translate-box {
    align-items: center;
    display: flex;
    border-radius: 40px;
    position: fixed;
    right: 0;
    bottom:40px;
    min-width: 200px;
    min-height: 40px;
    background: #01031f;
    transform: translateX(77%);
    z-index: 50;
    transition: transform .5s cubic-bezier(0.68,-0.55,0.27,1.55);
    box-shadow: -5px -5px 5px rgba(212,212,212,.1), 5px 5px 5px rgba(0,0,0,.4);
    -webkit-box-shadow: -5px -5px 5px rgba(212,212,212,.1), 5px 5px 5px rgba(0,0,0,.4);
    -moz-box-shadow: -5px -5px 5px rgba(212,212,212,.1), 5px 5px 5px rgba(0,0,0,.4);
}
.translate-box.active {
    transform: translateX(0);
}
.sidebar {
    background: #00043a;
    min-width: 5rem;
    height: 100vh;
    position: fixed;
    padding: 2rem;
    z-index: 10;
    overflow-y: hidden;
}
.sidebar .main {
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Rubik';
}
.sidebar .main .title {
    margin-top: 10px;
}
.sidebar .main img {
    width: 4rem;
}

.sidebar .title-navbar{
    position: relative;
    min-height: 80vh;
    display: flex;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text; */
    color: #23a6d5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: gradient 5s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.sidebar .title-navbar h1 {
    margin-top: 2.4rem;
    font-family: Roboto;
}
.navbar {
    min-width: 1rem;
    height: 100vh;
    background: #020531;
    position: fixed;
    top: 0;
    bottom: 0;
    /* padding: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    transform: translateX(-62%);
    transition: transform 0.3s cubic-bezier(0.86,0,0.07,1);
}
.navbar ul {
    display: flex;
    /* background: green; */
    flex-direction: column;
    text-align: center;
}
.navbar.slide {
    transform: translateX(66%);
}
.navbar ul li {
    margin: 3rem;
}
.navbar ul .btn {
    padding: 0 0 .3em;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    --border-size: 2px;
    --border-color: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}
.navbar ul .btn.fill-underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: var(--border-size);
    background: var(--border-color);
    background-size: 400% 400%;
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
    animation: gradient 2.5s ease infinite;
}
.navbar ul .btn.fill-underline:hover::before,
.navbar ul .btn.fill-underline:focus::before {
    transform: scaleX(1);
}
.navbar ul li a {
    font-family: Source Sans Pro;
    font-weight: 600;
    text-transform: uppercase;
    color:white;
    padding: 30px 80px 30px;
}
.contents {
    background:#01031f;
    width: 100%;
    min-height: 100vh;
    display: flex;flex-direction: column;
    position: relative;
    padding-left: 13rem;
    padding-top: 2rem;
}
.contents .home {
    width: 100%;
    /* background: red; */
    color: white;
    font-family: Poppins;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;;
    align-items: center;
    flex-wrap: wrap;
}
.contents .about {
    position: relative;
}
.contents .about .plus {
    position : absolute;
    width: 6rem;
    top: -13rem;
    right: 6rem;
    animation : rotate 5s linear infinite;
}
.contents .about .circ-lines{
    position : absolute;
    width: 6rem;
    left: 0rem;
    top: 17rem;
    animation : rotate 5s linear infinite;
}
@keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
      }
    100%{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
.contents .svg .circle {
    position: absolute;
    margin-right: 10rem;
    top: -39rem;
    right: 0;
    width: 22rem;
    animation: circlee 7s ease-in-out infinite;
}

@keyframes circlee {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    50% {
        transform: translateX(100px);
        -webkit-transform: translateX(100px);
    }
}
.contents .home .img {
    border-radius: 50%;
    width: 23rem;
    min-height: 23rem;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: gradient 5s ease infinite;
}
.contents .home .img img {
    width: 350px;
    border-radius: 50%;
}
.contents .home .title {
    font-size: 4rem;
    line-height: 5rem;
    font-family: 'Noto Sans JP', sans-serif;
    transition: font-size .3s cubic-bezier(0.65,0.05,0.36,1);
}
.contents .home .welcome .title:hover {
    font-size: 5rem;
}
.contents .home .word h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
}
.contents .home .welcome .line {
    padding: 0 0 1rem;
    position: relative;
    border: none;
    outline:none;
}
.contents .home .welcome .line.line-underline:hover::before,
.contents .home .welcome .line.line-underline:focus::before{
    transform: scaleX(1);
}
.contents .home .welcome .line.line-underline::before {
    content: '';
    position: absolute;
    left: 3px;
    bottom: .8rem;
    right: 19rem;
    height: 5px;
    background:linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300% 300%;
    animation: gradient 5s ease infinite;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    transform-origin: left;
}
.contents .home .word {
    width: 50rem
}
.contents .home p {
    word-wrap: break-word;
    line-height:1.6rem;
}
.contents .about {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    /* background: yellow; */
    padding-left: 6rem;
    padding-top: 5rem;
    padding-right: 7rem;
}
.contents  .about h1 {
    line-height: 8rem;
    font-size: 4rem;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5);
    background-size: 700% 50%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradient 5s ease infinite;
    font-family: Poppins;
    color: transparent;
}
.contents .about p {
    font-family: Poppins;
    z-index:3;
    line-height:2rem;
    font-size: 1.5rem;
    color: white;
}
.contents .about .pembungkus .default {
    color: white;
}
.contents .blog {
    width: 100%;
    min-height: 100vh;
    padding-left: 6rem;
    font-family: poppins;
    padding-top: 5rem;
    padding-right: 7rem;
}
.contents .blog h1 {
    font-size: 4rem;
    color: #e73c7e;
}
.contents .blog .grid-container {
    width: 100%;
    min-height: 30vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "vaporwave animestyle unknown"
    "manipulation minimalist web_project1";
    /* background:purple; */
    grid-gap: 2em;
}
.contents .blog .grid-container .grid-items {
    transition: opacity .5s ease-in-out;
    position: relative;
    background: transparent;
    border-radius: 14px;
    padding: .2rem;
    min-height:10px;
    min-width: 30px;
    text-align: center;
}

.contents .blog .grid-container .grid-items:hover {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5);
    animation: gradient 5s ease infinite;
    background-size: 300% 300%;
    opacity: 1;
}
.contents .blog .grid-container .grid-items .image {
    height: 15rem;
    background-position: center;
    background-size: cover;
}
.contents .blog .grid-container .grid-items .view-more {
    position : absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.596);
    display: grid;
    place-items: center;
    margin: .2rem;
    border-radius: 14px;
    opacity: 0;
    transition: opacity .3s ease;
}
.contents .blog .grid-container .grid-items .view-more a {
    color: white;
    font-family: Poppins;
    background: #23a6d5;
    text-align: center;display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
}
.contents .blog .grid-container .grid-items .view-more:hover {
    opacity: 1;
}
.contents .contact {
    position: relative;
    width: 100%;
    min-height: 30vh;
    overflow: hidden;
    padding-left: 6rem;
    font-family: poppins;
    padding-top: 5rem;
    padding-right: 7rem;
    /* background: green; */
}
.contents .contact .contact-title {
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 20px;
}
.contents .contact .contact-title h1 {
    font-size: 4rem;
    color: #23d5ab;
    z-index: 1;
}
.contents .contact .contact-title h2 {
    position: absolute;
    font-size: 8rem;
    color:rgba(231, 60, 126, .2)
}
.contents .contact .contact-me {
    display: grid;
    /* place-items: center; */
    grid-template-columns: repeat(3,1fr);
    padding-top: 5rem;
    grid-gap: 2rem;
    position: relative;
    width: 100%;
    min-height: 40rem;
    grid-gap: 2rem;
    grid-auto-rows: min-content;
    color: white;
    /* background: purple; */
}
.gmail {
    background-color: rgba(1, 3, 31,0);
    transition: background-color .3s ease-in-out;
}
.gmail:hover {
    background-color: rgb(173, 7, 40);
}
.fb {
    background-color: rgba(1, 3, 31,0);
    transition: background-color .3s ease-in-out;
}
.fb:hover{
    background-color: #0d3ec5;
}
.fp {
    background-color: rgba(1, 3, 31,0);
    transition: background-color .3s ease-in-out;
}
.fp:hover{
    background-color: rgb(103, 20, 128);
}
.ba {
    background-color: rgba(1, 3, 31,0);
    transition: background-color .3s ease-in-out;
}
.ba:hover{
    background-color: rgb(41, 107, 250);
}
.gi {
    background-color: rgba(1, 3, 31,0);
    transition: background-color .3s ease-in-out;
}
.gi:hover {
    background-color: #0c1821;
}
.cdpen {
    background-color: rgba(1, 3, 31,0);
    transition: background-color .3s ease-in-out;
}
.cdpen:hover {
    background-color: #eeeeee;
    color: black;
}
.ig {
    background-color: rgba(1, 3, 31,0);
    transition: background-color .3s ease-in-out;
}
.ig:hover {
    background-color: #ff0062;
}
.github {
    background-color: rgba(1, 3, 31,0);
    transition: background-color .3s ease-in-out;
}
.github:hover {
    background-color: black; 
}
.slearn {
    background-color: rgba(1, 3, 31,0);
    transition: background-color .3s ease-in-out;
}
.slearn:hover {
    background-color: #235bd5; 
}

/* .description {
    margin-left: 10px;
} */
.navbar-mobile {
    display: none;
}
.svg .circle-bottom {
    display: none;
}
footer {
    display:none;
}
@media all and (max-width:1413px){
    body {
        display: block;
        background:#01031f;
        max-height: 100%;
    }
    .contents {
        display: block;
        background:#01031f;
        width: 100%;
        max-height: 100%;
        position: relative;
        padding: 0;
        overflow: hidden;
    }
    .circle {
        display: none;
    }
    .contents .contact .svg .circle-bottom{
        position: absolute;
        /* margin-right: 10rem; */
        bottom: -35rem;
        left: 0;
        width: 22rem;
        display: block;
        opacity: .4;
        animation: circlee 7s ease-in-out infinite;
        z-index: 0;
    }
    .navbar-desktop {
        display: none;
    }
    .navbar-mobile {
        display: none;
    }
    .navbar-tab-mobile {
        position: fixed;
        right:0;
        width: 100%;
        z-index: 100;
        display: block;
        min-height: 3rem;
        background: #020531f1;
        padding:1rem 2.5rem 1rem 2.5rem;
        display: flex;
        color: crimson;
        justify-content: space-between;
        align-items: center;
        font-family: Poppins;
        transition: background-color .3s ease-in-out ;
    }
    .navbar-tab-mobile .TogelMobile {
        display: none;
    }
    .navbar-tab-mobile ul {
        display: flex;
        align-items: center;
        min-height: 1px;
    }
    .navbar-tab-mobile ul li {
        position: relative;
        margin-right: 10px;
    }
    .navbar-tab-mobile ul .margin-none {
        margin-right: 0px;
    }
    .navbar-tab-mobile ul li a {
        color: white;
        padding: 22px 40px;
        transition: background-color .2s ease-in-out;
        transition: color .5s ease-in-out;
    }
    .navbar-tab-mobile ul .btn {
        padding: 0 0 .2em;
        position: relative;
        border: none;
        outline: none;
        cursor: pointer;
        --border-size: 2px;
        --border-color: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    }
    .navbar-tab-mobile ul .btn.fill-underline::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: var(--border-size);
        background: var(--border-color);
        background-size: 400% 400%;
        transform: scaleX(0);
        transition: transform .5s ease-in-out;
        animation: gradient 2.5s ease infinite;
    }
    .navbar-tab-mobile ul .btn.fill-underline:hover::before,
    .navbar-tab-mobile ul .btn.fill-underline:focus::before {
        transform: scaleX(1);
    }
    .navbar-tab-mobile ul li a:hover {
        color: rgb(255, 44, 86);
        background-color: transparent;
    }
    .contents .blog .grid-container {
        width: 100%;
        min-height: 30vh;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        "vaporwave animestyle"
        "manipulation unknown"
        "minimalist web_project1";
        /* background:purple; */
        grid-gap: 2em;
    }
    .contents .contact .contact-me {
        display: grid;
        /* place-items: center; */
        grid-template-columns: repeat(2,1fr);
        padding-top: 5rem;
        grid-gap: 2rem;
        position: relative;
        width: 100%;
        min-height: 40rem;
        grid-gap: 2rem;
        grid-auto-rows: min-content;
        color: white;
        /* background: purple; */
    }
    footer {
        display: flex;
        flex-direction: column;
        color: white;
        font-family: Poppins;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}
@media all and (max-width: 1029px){
    .contents .contact .contact-title h1 {
        font-size: 4rem;
        color: #23d5ab;
        z-index: 1;
    }
    .contents .contact .contact-title h2 {
        position: absolute;
        font-size: 5rem;
        color:rgba(231, 60, 126, .2)
    }
}
@media all and (max-width: 800px){
    .contents{
        padding: 0;
    }
    .navbar-tab-mobile ul {
        display: none;
        position: absolute;
        background: #00043a;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        text-align: center;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        transition: display .3s ease-in-out;
    }
    .navbar-tab-mobile ul.active {
        opacity: 1;
    }
    .navbar-tab-mobile ul.flex{
        display: flex;
    }
    .navbar-tab-mobile ul li {
        margin: 3rem;
    }
    .navbar-mobile{
        position: fixed;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background:#020531;
        /* opacity: 0; */
        transition: opacity .3s ease-in-out;
    }
    .navbar-mobile.active {
        opacity: 1;
    }
    .navbar-mobile ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .navbar-mobile ul li {
        margin: 3rem;
    }
    .navbar-mobile ul .btn {
        padding: 0 0 .3em;
        position: relative;
        border: none;
        outline: none;
        cursor: pointer;
        --border-size: 2px;
        --border-color: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    }
    .navbar-mobile ul .btn.fill-underline::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: var(--border-size);
        background: var(--border-color);
        background-size: 400% 400%;
        transform: scaleX(0);
        transition: transform .5s ease-in-out;
        animation: gradient 2.5s ease infinite;
    }
    .navbar-mobile ul .btn.fill-underline:hover::before,
    .navbar-mobile ul .btn.fill-underline:focus::before {
        transform: scaleX(1);
    }
    .navbar-tab-mobile .TogelMobile{
        z-index: 10000000;
        display: block;
        cursor: pointer;
        transition: color .3s ease;
        color: #23a6d5;
    }
    .navbar-tab-mobile .TogelMobile:hover {
        color: crimson;
    }
    .contents .blog .grid-container .grid-items .view-more {
        z-index:30;
    }
    .contents .home {
        display: flex;
        padding-top: 5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .contents .home .welcome h1 {
        font-size: 2rem;
        line-height: 4rem;
        transition: font-size .3s cubic-bezier(0.65,0.05,0.36,1);
    }
    .contents .home .welcome p {
        font-size: 1rem;
    }
    .contents .home .welcome .title:hover {
        font-size: 4rem;
    }
    .contents .home .welcome .line.line-underline::before {
        bottom: 1rem;
        left: .2rem;
    }
    .contents .home .word {
        width: 100%;
    }
    .contents .home p {
        word-wrap: break-word;
        line-height:1.6rem;
    }
    .contents .home .img {
        border-radius: 50%;
        width: 30rem;
        min-height: 30rem;
        background: inear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: gradient 5s ease infinite;
    }
    .contents .home .img img {
        width: 450px;
        border-radius: 50%;
    }
    .contents .about {
        width: 100%;
        min-height: 100vh;
        display: grid;
        place-items: center;
        /* background: yellow; */
        padding-left: 1rem;
        padding-top: 1rem;
        padding-right: 1rem;
    }
    .contents .about .circ-lines{
        display: none;
    }
    .contents .about .plus {
        display: none;
    }
    .contents  .about h1 {
        padding-top: 5rem;
        font-size: 40px;
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5);
        background-size: 700% 50%;
        background-clip: text;
        -webkit-background-clip: text;
        animation: gradient 5s ease infinite;
        font-family: Poppins;
        color: transparent;
    }
    .contents .about p {
        font-family: Poppins;
        z-index:3;
        line-height:1.6rem;
        color: white;
    }
    .contents .blog {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .contents .blog .grid-container {
        width: 100%;
        min-height: 30vh;
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: repeat(6,100px); */
        grid-template-areas: 
        "vaporwave"
        "animestyle"
        "manipulation"
        "unknown"
        "minimalist"
        "web_project1";
        /* background:purple; */
        grid-gap: 1rem;
    }
    .contents .contact {
        position: relative;
        width: 100%;
        min-height: 30vh;
        overflow: hidden;
        padding-left: 1rem;
        font-family: poppins;
        padding-top: 1rem;
        padding-right: 1rem;
        /* background: green; */
    }
    .contents .contact .contact-title h1 {
        font-size: 3rem;
        color: #23d5ab;
        z-index: 1;
    }
    .contents .contact .contact-title h2 {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* text-wrap: none; */
        /* background: aqua; */
        font-size: 5.5rem;
        color:rgba(231, 60, 126, .2)
    }
    .contents .contact .contact-me {
        display: grid;
        /* place-items: center; */
        grid-template-columns: repeat(2,1fr);
        padding-top: 5rem;
        grid-gap: 2rem;
        position: relative;
        width: 100%;
        min-height: 40rem;
        grid-gap: 2rem;
        grid-auto-rows: min-content;
        color: white;
        /* background: purple; */
    }
    @media all and (max-width: 600px){
        .contents .home .title {
            font-size: 2rem;
            line-height: 4rem;
            transition: font-size .3s cubic-bezier(0.65,0.05,0.36,1);
        }
        .contents .home .welcome .title:hover {
            font-size: 2.5rem;
        }
        .contents .home .word h1 {
            font-family: 'Roboto', sans-serif;
            font-size: 2rem;
            line-height: 2.5rem;
        }
        .contents .home .welcome .line.line-underline::before {
            content: '';
            position: absolute;
            bottom: 1rem;
            right: 8rem;
            left: 0;
            height: 5px;
            background:linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
            background-size: 300% 300%;
            animation: gradient 5s ease infinite;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
            transform-origin: left;
        }
        .contents .contact .contact-title h1 {
            font-size: 2rem;
            color: #23d5ab;
            z-index: 1;
        }
        .contents .contact .contact-title h2 {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            /* text-wrap: none; */
            /* background: aqua; */
            font-size: 2.5rem;
            color:rgba(231, 60, 126, .2)
        }
        .contents .contact .contact-me {
            display: grid;
            /* place-items: center; */
            grid-template-columns: 1fr;
            padding-top: 5rem;
            grid-gap: 2rem;
            position: relative;
            width: 100%;
            min-height: 40rem;
            grid-gap: 2rem;
            grid-auto-rows: min-content;
            color: white;
            /* background: purple; */
        }
        .contents .about p {
            font-family: Poppins;
            z-index:3;
            line-height:1.6rem;
            font-size: 1rem;
            color: white;
        }
        .contents .home .img {
            margin-top: 5rem;
            border-radius: 50%;
            width: 17rem;
            min-height: 17rem;
            background: inear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
            background-size: 400% 400%;
            display: flex;
            align-items: center;
            justify-content: center;
            animation: gradient 5s ease infinite;
        }
        .contents .home .img img {
            width: 260px;
            border-radius: 50%;
        }
        .contents .blog h1 {
            font-size: 2.5rem;
            color: #e73c7e;
        }
    }
}
@media all and (max-width: 399px){
    .contents .home .img {
        margin-top: 5rem;
        border-radius: 50%;
        width: 17rem;
        min-height: 17rem;
        background: inear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: gradient 5s ease infinite;
    }
    .contents .home .img img {
        width: 260px;
        border-radius: 50%;
    }
}
@media all and (max-width: 360px){
    footer {
        font-size: 12px;
    }
    .bungkus-footer img {
        width: 13px;
        height: 9px;
    }
}